{% macro tag(tag) %}
    <span class="label label-{{ tag.color }}">{{ tag.label }}</span>
{% endmacro %}

{% macro tags(tags) %}
    {% for tag in tags %}
        {{ _self.tag(tag) }}
    {% endfor %}
{% endmacro %}