body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.inline {
    display: inline;
}

.page-header {
    padding-bottom: 0px;
}

h1 {
    font-size: 26px;
}

.col-lg-12.select2_entity_select {
    padding: 0px;
}

.nav-tabs {
    margin-bottom: 15px;
}